<!doctype html>
<html>

<head>
    <title>Jeeves</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="sweetalert.css">
    <script src="sweetalert.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="Jeeves">

    <div ng-controller="mainController">
        <div ng-if="pageClass != 'page-servers' && pageClass != 'page-login'">
            <div id="backButton" class="backButton">
                <span class="clickable" ng-click="goBack()">&lt;</span>
            </div>
        </div>
        <div ng-show="currentUser">
            <div id="userInfo" class="userInfo">
                {{currentUser.name}} (
                <span class="clickable" ng-click="openConfig()" ng-if="currentUser.role == 'master'">Config</span>
                <span ng-if="currentUser.role == 'master'"> | </span>
                <span class="clickable" ng-click="doLogout()">Logout</span> )
            </div>
        </div>
        <div id="title" class="title">Jeeves</div>
        <div id="subtitle" class="subtitle">{{serverName}}</div>
    </div>

    <div class="page {{ pageClass }}" ng-view></div>

</body>

</html>
