<div class="table-title">
    <h3>Server</h3>
</div>
<!--
    //  //////  //////  //  //  //////  //////  ////////////////////////////////////////////////////
    //  //      //      //  //  //      ///     ////////////////////////////////////////////////////
    //  //////  //////  //  //  //////     ///  ////////////////////////////////////////////////////
//////  //////  //////    //    //////  ////// /////////////////////////////////////////////////////
-->
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-center" colspan="2">
                <div style="float: left;" class="circle"></div>
                Jeeves
                <div style="float: right;" class="circle" ng-class="server.status.jeeves"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Name</td>
            <td class="text-center">
                <input type="text" ng-model="server.name" ng-value="server.name" />
            </td>
        </tr>
        <tr>
            <td class="text-center">Owner</td>
            <td class="text-center">
                <input type="text" ng-model="server.owner" ng-value="server.owner" />
            </td>
        </tr>
        <tr>
            <td class="text-center">Date Added</td>
            <td class="text-center">
                <input type="text" ng-model="server.dateAdded" ng-value="server.dateAdded" readonly/>
            </td>
        </tr>
        <tr>
            <td class="text-center">Date Updated</td>
            <td class="text-center">
                <input type="text" ng-model="server.dateUpdated" ng-value="server.dateUpdated" readonly/>
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="2">
            <b class="action-button" ng-click="performAction('update')">Update</b>
            </td>
        </tr>
    </tbody>
</table>

<br>
<!--
//////  //////  //////  ////////////////////////////////////////////////////////////////////////////
//        //      //    ////////////////////////////////////////////////////////////////////////////
//  //    //      //    ////////////////////////////////////////////////////////////////////////////
//////  //////    //    ////////////////////////////////////////////////////////////////////////////
-->
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-center" colspan="2">
                <div style="float: left;" class="circle"></div>
                Git
                <div style="float: right;" class="circle" ng-class="server.status.git"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Repository</td>
            <td class="text-center">
                <input type="text" ng-model="server.git" ng-value="server.git" />
            </td>
        </tr>
        <tr ng-if="server.git">
            <td class="text-center" colspan="2">
                <b class="action-button" ng-click="performAction('clone')">Clone</b>
                <b class="action-button" ng-click="performAction('push')">Push</b>
                <b class="action-button" ng-click="performAction('pull')">Pull</b>
                <b class="action-button" ng-click="performAction('replace')">Replace</b>
            </td>
        </tr>
    </tbody>
</table>

<br>
<!--
//////  //////  //////  //  //  //////  //////  //////  ////////////////////////////////////////////
///     //////  //  //  //  //    //    //      //////  ////////////////////////////////////////////
   ///  //      //////  //  //    //    //      //      ////////////////////////////////////////////
//////  //////  //   //   //    //////  //////  //////  ////////////////////////////////////////////
-->
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-center" colspan="2">
                <div style="float: left;" class="circle"></div>
                Service
                <div style="float: right;" class="circle" ng-class="server.status.service"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Type</td>
            <td class="text-center">
                <select ng-model="server.service.type">
                    <option value="">none</option>
                    <option value="node">node</option>
                    <option value="java">java</option>
                    <option value="php">php</option>
                </select>
            </td>
        </tr>
        <tr ng-if="server.service.type == 'node'">
            <td class="text-center">Node Script</td>
            <td class="text-center">
                <input type="text" ng-model="server.service.script" ng-value="server.service.script" />
            </td>
        </tr>
        <tr ng-if="server.service.type == 'node'">
            <td class="text-center">Node Instances</td>
            <td class="text-center">
                <input type="text" ng-model="server.service.instances" ng-value="server.service.instances" />
            </td>
        </tr>
        <tr ng-if="server.service.type == 'node'">
            <td class="text-center">Node Max Memory</td>
            <td class="text-center">
                <input type="text" ng-model="server.service.maxMemory" ng-value="server.service.maxMemory" />
            </td>
        </tr>
        <tr ng-if="server.service.type == 'java'">
            <td class="text-center">Java War location</td>
            <td class="text-center">
                <input type="text" ng-model="server.service.javaWarLocation" ng-value="server.service.javaWarLocation" />
            </td>
        </tr>
        <tr ng-if="server.service.type == 'php'">
            <td class="text-center">PHP Path</td>
            <td class="text-center">
                <input type="text" ng-model="server.service.phpPath" ng-value="server.service.phpPath" />
            </td>
        </tr>
        <tr ng-if="server.service.type">
            <td class="text-center" colspan="2">
                <b class="action-button" ng-click="performAction('start')">Start</b>
                <b class="action-button" ng-click="performAction('stop')">Stop</b>
                <b class="action-button" ng-click="performAction('restart')">Restart</b>
                <b class="action-button" ng-click="performAction('deploy')">Deploy</b>
                <!-- <b ng-if="server.service.type == 'node'" class="action-button" ng-click="performAction('logs')">Logs</b> -->
            </td>
        </tr>
    </tbody>
</table>

<br>
<!--
//////  //////  //  //  //////  //////  //  //  //////  ////////////////////////////////////////////
//  //  //  //  //  //    //      //    /// //  //      ////////////////////////////////////////////
//////  //  //  //  //    //      //    // ///  //  //  ////////////////////////////////////////////
//   // //////  //////    //    //////  //  //  //////  ////////////////////////////////////////////
-->
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-center" colspan="2">
                Route
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Type</td>
            <td class="text-center">
                <select ng-model="server.route.type">
                    <option value="">none</option>
                    <option value="web">web</option>
                    <option value="port">port / node</option>
                    <option value="java">java</option>
                    <option value="php">php</option>
                    <option value="static">static</option>
                </select>
            </td>
        </tr>
        <tr ng-if="server.route.type">
            <td class="text-center">Web Path</td>
            <td class="text-center">
                <input type="text" ng-model="server.route.path" ng-value="server.route.path" />
            </td>
        </tr>
        <tr ng-if="server.route.type == 'web'">
            <td class="text-center">Destination</td>
            <td class="text-center">
                <input type="text" ng-model="server.route.destination" ng-value="server.route.destination" />
            </td>
        </tr>
        <tr ng-if="server.route.type == 'port'">
            <td class="text-center">Local Port</td>
            <td class="text-center">
                <input type="text" ng-model="server.route.port" ng-value="server.route.port" />
            </td>
        </tr>
        <tr ng-if="server.route.type == 'static'">
            <td class="text-center">Local Path</td>
            <td class="text-center">
                <input type="text" ng-model="server.route.destination" ng-value="server.route.destination" />
            </td>
        </tr>
        <tr ng-if="server.route.type">
            <td class="text-center" colspan="2">
                <b class="action-button" ng-click="performAction('restartRoutes')">Restart Routes</b>
            </td>
        </tr>
    </tbody>
</table>

<br>
<!--
//  //  //////  //////  //  //  //////  ////////////////////////////////////////////////////////////
//  //  //  //  //  //  ////    ///     ////////////////////////////////////////////////////////////
//////  //  //  //  //  //  //     ///  ////////////////////////////////////////////////////////////
//  //  //////  //////  //  //  //////  ////////////////////////////////////////////////////////////
-->
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-center" colspan="2">
                Hooks
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="server.token">
            <td class="text-center">Start</td>
            <td class="text-center">
                <input type="text" ng-model="server.hooks.start" ng-value="server.hooks.start" readonly/>
            </td>
        </tr>
        <tr ng-if="server.token">
            <td class="text-center">Stop</td>
            <td class="text-center">
                <input type="text" ng-model="server.hooks.stop" ng-value="server.hooks.stop" readonly/>
            </td>
        </tr>
        <tr ng-if="server.token">
            <td class="text-center">Restart</td>
            <td class="text-center">
                <input type="text" ng-model="server.hooks.restart" ng-value="server.hooks.restart" readonly/>
            </td>
        </tr>
        <tr ng-if="server.token">
            <td class="text-center">Pull</td>
            <td class="text-center">
                <input type="text" ng-model="server.hooks.pull" ng-value="server.hooks.pull" readonly/>
            </td>
        </tr>
        <tr ng-if="server.token">
            <td class="text-center">Update (Pull + Restart)</td>
            <td class="text-center">
                <input type="text" ng-model="server.hooks.update" ng-value="server.hooks.update" readonly/>
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="2">
                <b ng-if="server.token" class="action-button" ng-click="performAction('disableHooks')">Disable</b>
                <b ng-if="!server.token" class="action-button" ng-click="performAction('enableHooks')">Enable</b>
            </td>
        </tr>
    </tbody>
</table>

<br>

<table class="table-button">
    <thead>
        <tr>
            <th class="text-center" ng-click="saveServer(server)">Save</th>
        </tr>
    </thead>
</table>
<br>
<table class="table-button-red">
    <thead>
        <tr>
            <th class="text-center" ng-click="deleteServer(server)">Delete</th>
        </tr>
    </thead>
</table>

<br>
