<div class="table-title">
    <h3></h3>
</div>
<table class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">Login</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-left">Username</td>
            <td class="text-left">
                <input type="text" ng-model="credentials.username"/>
            </td>
        </tr>
        <tr>
            <td class="text-left">Password</td>
            <td class="text-left">
                <input type="password" ng-model="credentials.password"/>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table class="table-button">
    <thead>
        <tr>
            <th class="text-center" ng-click="doLogin(credentials)" ng-if="error == null">Submit</th>
            <th class="text-center" ng-click="doLogin(credentials)" ng-if="error != null">{{error}}</th>
        </tr>
    </thead>
</table>
<br>
