<div class="table-title">
    <h3>Config</h3>
</div>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-center" colspan="2">
                Jeeves
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Name</td>
            <td class="text-center">
                <input type="text" ng-model="config.name" ng-value="config.name"/>
            </td>
        </tr>
        <tr>
            <td class="text-center">Server Root</td>
            <td class="text-center">
                <input type="text" ng-model="config.serverRoot" ng-value="config.serverRoot"/>
            </td>
        </tr>
        <tr>
            <td class="text-center">Main Port</td>
            <td class="text-center">
                <input type="text" ng-model="config.mainPort" ng-value="config.mainPort"/>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-center">Username</th>
            <th class="text-center">Password</th>
            <th class="text-center">Full Name</th>
            <th class="text-center">Role</th>
            <th class="text-center" style="width: 80px;">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in config.users">
            <td class="text-center">
                <input type="text" ng-model="user.username" ng-value="user.username" ng-readonly="user.password"/>
            </td>
            <td class="text-center">
                <input type="password" ng-model="user.password" ng-value="user.password"/>
            </td>
            <td class="text-center">
                <input type="text" ng-model="user.name" ng-value="user.name"/>
            </td>
            <td class="text-center">
                <select ng-model="user.role">
                    <option value="">---Please select---</option>
                    <option value="master">master</option>
                    <option value="admin">admin</option>
                    <option value="user">user</option>
                    <option value="viewer">viewer</option>
                </select>
            </td>
            <td class="text-center">
                <b class="action-button" ng-click="deleteUser(user.username)">Delete</b>
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="5">
                <b class="action-button" ng-click="addUser()">Add User</b>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table class="table-button">
    <thead>
        <tr>
            <th class="text-center" ng-click="saveConfig(config)">Save</th>
        </tr>
    </thead>
</table>
<br>
