@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
body {
    background-color: #2196F3;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
.backButton {
    position: absolute;
    left: 12%;
    top: 15px;
    text-align: right;
    color: #fafafa;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Josefin Slab', "Roboto", helvetica, arial, sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.userInfo {
    position: absolute;
    right: 12%;
    top: 15px;
    text-align: right;
    color: #fafafa;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Josefin Slab', "Roboto", helvetica, arial, sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.subtitle {
    width: 80%;
    min-height: 16px;
    margin: 0 auto 0;
    text-align: center;
    color: #fafafa;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Josefin Slab', "Roboto", helvetica, arial, sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.title {
    width: 80%;
    min-height: 45px;
    margin: 60px auto 0;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    font-family: 'Josefin Slab', "Roboto", helvetica, arial, sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
}
all
/*** Table Styles **/

.wordwrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.table-title {
    display: block;
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    width: 80%;
}
h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.table-button {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 100px;
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    width: 80%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
.table-button th {
    color: #D5DDE5;
    border-radius: 3px;
    background: #2f3c57;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.table-button th:hover {
    cursor: pointer;
    background: #4E5066;
    color: #FFFFFF;
}
.table-button-red {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 100px;
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    width: 80%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
.table-button-red th {
    color: #D5DDE5;
    border-radius: 3px;
    background: #a62929;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.table-button-red th:hover {
    cursor: pointer;
    background: #4E5066;
    color: #FFFFFF;
}
.table-fill {
    table-layout: fixed;
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 100px;
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    width: 80%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
.table-fill th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.table-fill th:first-child {
    border-top-left-radius: 3px;
}
.table-fill th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}
.table-fill tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
.table-hover tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    cursor: pointer;
}
.table-hover tr:nth-child(odd):hover td {
    background: #4E5066;
}
.table-fill tr:first-child {
    border-top: none;
}
.table-fill tr:last-child {
    border-bottom: none;
}
.table-fill tr:nth-child(odd) td {
    background: #EBEBEB;
}
.table-fill tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}
.table-fill tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}
.table-fill td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}
.table-fill td:last-child {
    border-right: 0;
}
th.text-left {
    text-align: left;
}
th.text-center {
    text-align: center;
}
th.text-right {
    text-align: right;
}
td.text-left {
    text-align: left;
}
td.text-center {
    text-align: center;
}
td.text-right {
    text-align: right;
}

/*** Circle Styles **/

.circle {
    display: inline-block;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin: 0;
}
.green {
    background: #4CAF50;
}
.orange {
    background: #FFC107;
}
.red {
    background: #F44336;
}
.blue {
    background: #2196F3;
}
.black {
    background: #000000;
}

/*** Input Styles **/

input, textarea, select {
    padding: 9px;
    box-sizing: border-box;
    border: solid 1px #E5E5E5;
    /*outline: 0;*/
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    width: 100%;
    background: #FFFFFF;
}
input:hover, textarea:hover, select:hover, input:focus, textarea:focus, select:focus {
    border-color: #C9C9C9;
}
input, textarea, select {
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.clickable:hover {
    cursor: pointer;
    color: #CCCCCC;
}

.action-button {
    padding: 20px;
}
.action-button:hover {
    cursor: pointer;
    color: #000000;
}
